<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if session %}
    <form action="/addbalace" method="post">
        <input type="text" name='balance'placeholder="blance to add">
        <input type="submit" value="add balce">
    </form>

    <h1>my balance = {{user.balance}}</h1>
    <a href="/logout">logout</a>
    
    {%else%}
    <form action="/login" method="post">
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password">
        <input type="submit">
    </form>
    <hr>
    <form action="/register" method="post">
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password">
        <input type="password" name="repassword" placeholder="repassword">
        <input type="submit">
    </form>
    {% endif %}
    
</body>
</html>